html.dark-mode code {
  color: white;
}

html.dark-mode *:not(.paramname)>em {
  color: white;
}

html.light-mode code {
  font-weight: bold;
}

html.light-mode *:not(.paramname)>em {
  font-weight: bold;
}

.brief-h {
  font-size: 1.1rem;
}