name: Build project

on:
  schedule:
    - cron: '0 3 * * *'
    - cron: '0 10 * * *'
    - cron: '0 15 * * *'

jobs:
  buildWebGL:
    name: Build WebGL
    runs-on: [self-hosted, unity]

    steps:
      - name: Set current date as build version
        run: echo "BUILD_VERSION=$(date +'%d.%m.%Y')" >> $GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - uses: actions/cache@v3
        with:
          path: Library
          key: Library-WebGL
          restore-keys: Library-

      - uses: game-ci/unity-builder@v4
        timeout-minutes: 70
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: WebGL
          webGlCompression: Brotli
          versioning: Custom
          version: ${{ env.BUILD_VERSION }}
          dockerCpuLimit: 3
          dockerMemoryLimit: 10g

      - uses: actions/upload-artifact@v4
        with:
          name: Build-WebGL
          path: build/WebGL
          retention-days: 1

      - name: Mark build complete
        run: |
          touch "/tmp/runner/github/${GITHUB_REF_NAME}-${GITHUB_RUN_ID}"
